.done-true {
    font-style: italic;
    color: grey;
}

.textinput {
    border: none;
    background: none;
    width: 100%;
}

.textinput:focus {
    outline: none;
}

td.input {
    width: 100%;
}
