<article>
    <section ng-hide="name">
        <h3>loading checklist...</h3>
    </section>
    <section ng-show="name">
        <h1>
            <input type="text" ng-model="name" class="textinput">
        </h1>
        <table width=100% class="table table-hover">
            <tbody>
            <tr ng-repeat="(index, item) in items" class="item" ng-class="{danger: item.focused, warning: focused}">
                <td><input type="checkbox" ng-model="item.done"></td>
                <td class="input">
                    <input type="text" ng-model="item.text" class="textinput done-{{item.done}}" ng-focus="onItemFocus(index); focused = true" ng-blur="onItemBlur(index); focused = false">
                </td>
                <td>
                    <button type="button" class="close" aria-hidden="true" ng-click="remove(index)">&times;</button>
                </td>
            </tr>
            </tbody>
        </table>
        <form ng-submit="addItem()" class="form-inline">
            <input type="text" class="form-control" ng-model="newItemText" placeholder="new item">
        </form>
    </section>
</article>
