<article>
    <section>
        <div ng-hide="creating">
            <h1>New Checklist</h1>
            <form ng-submit="create()" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newName" placeholder="name">
                </div>
                <input type="submit" class="btn btn-info" value="Create">
            </form>
        </div>
        <div ng-show="creating">
            <h1>Creating checklist...</h1>
        </div>
    </section>
    <section>
        <h1>Existing checklists</h1>
        <span ng-hide="lists.$getIndex().length">loading...</span>
        <ul ng-show="lists.$getIndex().length">
            <li ng-repeat="(id, list) in lists">
                <a href="/list/{{ id }}">{{ list.name }}</a>
            </li>
        </ul>
    </section>

</article>

